html, body {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    overflow-y: auto; /* allows vertical scroll */
    height: 100vh;
  }
  .wrapper {
    overflow-y: auto;
    max-height: 100vh;
  }
  